*{
    animation-fill-mode: forwards; 
}
.welcome-main{
     display: flex; 
     height: 100vh;
    align-items: center;
    justify-content: center;
}
.welcome-container{
    width: 90%;
    height: 90%;
    display: flex; 
    background-image: url(../../assets/header.jpg);
    border-radius: 30px;
    animation-name: container;
    animation-duration: 1.5s;
    
}
.welcome-content{
    color: rgb(243, 243, 118);
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}
.first-line{
    animation-name: first;
    animation-duration: 4s;
}
.second-line{
    margin-top: 40px;
    animation-name: second;
    animation-duration: 6s; 
}
.welcome-btn{
    margin-top: 45px;
    animation-name: button;
    animation-duration: 8s;  
}
@keyframes container {
    from {opacity: 0}
    to {opacity: 1;}
}
@keyframes first {
    from {opacity: 0; }
    to {opacity: 1; scale: 1.25;} 
}
@keyframes second {
    from {opacity: 0;}
    to {opacity: 1; scale: 1.2;} 
}
@keyframes button {
    from {opacity: 0}
    to {opacity: 1;}
}
