.notFound-first{
    animation-name: notfound;
    animation-duration: 2s;
    
}
.notFound-second{
    animation-name: notfound;
    animation-duration: 4s;
}
.notFound-third{
    animation-name: notfound;
    animation-duration: 6s;
}
.notFound-fourth{
    animation-name: notfound;
    animation-duration: 8s;
}

@keyframes notfound {
    from{opacity: 0;}
    to{opacity: 1;}
}
